#container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;

}

input {
  width: 300px;
  padding: 8px 32px 8px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-image: url('../../assets/searchIcon.png');
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-size: 20px;

}

